<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
  <section class="container about">
    <h1>${_(" Contact")}</h1>
    <b><p>${_("Please Feel free to Edit/add your own content in this page!!!!")}</p></b>
    </br>
    <p>
      down vote
      Ajax is the "right" way to do this.

      In order to insert the values into your separate Javascript file dynamically, it can no longer be served as a static file. Beyond that, it adds an extra layer of problems with security and maintainability as you have to deal with string escaping, possible script injection, and having Mako syntax in your Javascript. Not to mention losing the ability to host your .js files on a CDN or server configured for static files.

    </p>
    <h1>${_(" Description- 1")}</h1>
    <p>
      down vote
      Ajax is the "right" way to do this.

      In order to insert the values into your separate Javascript file dynamically, it can no longer be served as a static file. Beyond that, it adds an extra layer of problems with security and maintainability as you have to deal with string escaping, possible script injection, and having Mako syntax in your Javascript. Not to mention losing the ability to host your .js files on a CDN or server configured for static files.
    </p>
    <h1>${_(" Description- 2")}</h1>
    <p>
      down vote
      Ajax is the "right" way to do this.

      In order to insert the values into your separate Javascript file dynamically, it can no longer be served as a static file. Beyond that, it adds an extra layer of problems with security and maintainability as you have to deal with string escaping, possible script injection, and having Mako syntax in your Javascript. Not to mention losing the ability to host your .js files on a CDN or server configured for static files.

    </p>

    <h1>${_(" Description- 3")}</h1>
    <p>
      down vote
      Ajax is the "right" way to do this.

      In order to insert the values into your separate Javascript file dynamically, it can no longer be served as a static file. Beyond that, it adds an extra layer of problems with security and maintainability as you have to deal with string escaping, possible script injection, and having Mako syntax in your Javascript. Not to mention losing the ability to host your .js files on a CDN or server configured for static files.

    </p>


  </section>
</main>
